.button {
  border: none;
  cursor: pointer;
  border-radius: var(--border-radius);
  padding: var(--spacing-sm) var(--spacing);
  background-color: var(--gray);
  color: var(--white);
  transition: all 0.3s ease-in-out;
  font-size: 1.2em;
}

.button:hover {
  filter: brightness(1.5);
}
